# Python
*.pyc
__pycache__/

# Virtualenv
.venv/

# Django
*.sqlite3
*.log

# Static files (collected)
staticfiles/

# Env
.env

# Backup files
*.zip
*.sql

# System files
.DS_Store

# PyCharm / VSCode / IDE files
.idea/
.vscode/
