{% extends "admin/change_form.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/logist2_custom_admin.css' %}">
{% endblock %}

{% block content %}
  <div id="container_form">
    <div class="container-details">
      <p>
        <span class="status-highlight"
      style="background-color: {{ original.get_status_color }}; color: white; padding: 4px 8px; border-radius: 5px;">
  {{ original.get_status_display }}
</span>
        {% if original.notes %}
          <span style="margin-left: 20px; width: 1000px; display: inline-block;">
            {{ original.notes }}
          </span>
        {% endif %}
      </p>
    </div>
    {{ block.super }}
  </div>
{% endblock %}
