{% extends "admin/change_form.html" %}
{% load static i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/logist2_custom_admin.css' %}">
{% endblock %}

{% block content_title %}
    <!-- Пустой блок для удаления заголовка "Change Контейнер" -->
{% endblock %}

{% block content %}
    <div id="container_form">
        <div class="container-details">
            <div class="field-container">
                <p><span class="status-highlight status-{{ original.status|lower|default:"floating" }}">{{ original.get_status_display|default:"Плывет" }}</span></p>
            </div>
        </div>
        {{ block.super }}
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    {% if original and original.pk %}
        <div class="history-link" style="margin-top: 10px;">
            <a href="{% url 'admin:core_container_history' original.pk %}">History</a>
        </div>
    {% endif %}
{% endblock %}