{% extends "admin/change_form.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/logist2_custom_admin.css' %}">
{% endblock %}

{% block content %}
  <div id="container_form">
    <div class="car-details">
      <div class="field-container">
        <p style="display: flex; align-items: center; gap: 15px; flex-wrap: wrap; margin-bottom: 1px;">
          <!-- Статус авто -->
          <span class="status-highlight"
                style="background-color: {{ original.get_status_color }}; color: white; padding: 4px 12px; border-radius: 6px;">
            {{ original.get_status_display }}
          </span>

          <!-- Контейнер -->
          {% if original.container %}
            <a href="{% url 'admin:core_container_change' original.container.pk %}"
               class="status-highlight"
               style="background-color: {{ original.container.get_status_color }}; color: white;
                      padding: 4px 12px; border-radius: 6px; text-decoration: none;">
              {{ original.container.number }}
            </a>
          {% endif %}

      </div>
    </div>
    {{ block.super }}
  </div>
{% endblock %}
